<?php // -*-php-*-
  rcs_id('$Id: actionbar.tmpl,v 1.34 2004/12/14 21:32:46 rurban Exp $');
if ((!$page->get('locked') || $user->isAdmin()) and $revision)
    $EditB = Button("edit",
                    $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"));
 else
     $EditB = Button("viewsource", _("View Source"));

$Sep = $WikiTheme->getButtonSeparator();
?>
<?php /* I would like not to have to use these tables, and managed to
       * get this stuff to work more or less correctly using
       * CSSs float:left; and float:right;.  However float:right; seems
       * to cause MSIE4.01/NT to hang. 
       * So, we use tables...  */ ?>
<table summary="Toolbar 1: Page actions and user login."
       width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
  <div id="actionbuttons">
    <?= $EditB ?>
    <?php if ($user->isAdmin() or mayAccessPage('change',$page->getName())) { ?>
      <?=$Sep?><?= Button($page->get('locked') ? 'unlock' : 'lock') ?>
    <?php if (ENABLE_PAGEPERM) { ?>
      <?=$Sep?><?= Button('chown') ?>
      <?=$Sep?><?= Button('setacl') ?>
    <?php }} ?>
    <?php if ($user->isAdmin() or mayAccessPage('remove',$page->getName())) { ?>
      <?=$Sep?><?= Button('remove') ?>
    <?php } ?>
    <?=$Sep?><?= Button("PageHistory", _("PageHistory")) ?>
    <?=$Sep?><?= Button("diff") ?> 
    <?=$Sep?><?= Button("PageInfo", _("PageInfo")) ?>
<?php if ((DEBUG and $request->getArg('action') == 'browse') || $user->isAdmin()) { ?> 
    <!-- Buttons really only for debugging -->
    <?=$Sep?><?= Button("DebugInfo", _("DebugInfo")) ?>
    <?=$Sep?><?= Button("PageDump", _("PageDump")) ?>
<?php
    if (DEBUG & _DEBUG_SQL and USECACHE) {
      $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $page->getName());
      $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed."));
?>
      <?=$Sep?><?= $PurgeCache ?>
<?php } ?>
    <!-- End debugging buttons -->
<?php } ?>
<?php if (defined('USE_EXTERNAL_HTML2PDF') and USE_EXTERNAL_HTML2PDF) { ?> 
    <?=$Sep?><?= Button("pdf") ?>
<?php } ?>
  </div>
  </td>
<?php if (empty($NOSIGNIN)) { ?>
<?php
/* valign="top" is not ideal here but required to get reasonable alignment
   with the other action buttons in some browsers, like OmniWeb and Safari
   (therefore probably Konquorer too) */ ?>
  <td align="right" valign="top">
    <div id="signin"><?= Template('signin') ?></div>
  </td>
<?php } ?>
</tr>
</table>
