<?php // -*-html-*-
  rcs_id('$Id: bottom.tmpl,v 1.5 2004/06/21 16:05:08 rurban Exp $');
?>
<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (defined('DEBUG') and DEBUG & 1) { ?><?= Template('debug') ?><?php } ?>
<?php } ?>
