<?php // -*-php-*-
    rcs_id('$Id: navbar.tmpl,v 1.7 2004/06/14 11:26:51 rurban Exp $');
    $s = $WikiTheme->getButtonSeparator();
    $split = $WikiTheme->_autosplitWikiWords;
    global $WikiTheme;
    $WikiTheme->setAutosplitWikiWords(true);
?>
<!-- The top navigation/search bar -->
<form action="<?= WikiURL(_("TitleSearch"))?>" target="_top"
      method="get" accept-charset="<?=CHARSET?>" style="display:inline">
<div id="navbuttons">
<!-- &middot; ?= WikiLink(_("RecentChanges"), "button") ? -->
<input type="hidden" name="auto_redirect" value="1" />
<?php if (! USE_PATH_INFO) { ?>
<input type="hidden" name="pagename" value="<?=_("TitleSearch")?>" />
<?php } ?>
<input type="text"  name="s" size="12" maxlength="256"
             title='<?=_("Quick Search")?>'
             onmouseover="window.status='<?=_("Quick Search")?>'; return true;"
             onmouseout="window.status=''; return true;" /><?= Button(_("TitleSearch")) ?>
<?=$s?><?= WikiLink(_("FindPage"), "button",_("Full Search")) ?>
<?php if (0 and !empty($revision)) { ?>
<?=$s?><?=WikiLink(_("BackLinks"), "button",_("Back Links")) ?>
<?php } ?>
<?php if (!empty($user) && $user->isAdmin()) { ?>
<?=$s?><?= WikiLink(_("PhpWikiAdministration"), "button", _("Admin")) ?>
<?php }
$WikiTheme->setAutosplitWikiWords($split); ?></div>
</form>