<?php // -*-php-*-
  rcs_id('$Id: actionbar.tmpl,v 1.1 2004/12/14 21:30:37 rurban Exp $');
if ((!$page->get('locked') || $user->isAdmin()) and $revision)
    $EditB = Button("edit",
                    $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"));
 else
     $EditB = Button("viewsource", _("View Source"));

$Sep = $WikiTheme->getButtonSeparator();
?>
<?php /* I would like not to have to use these tables, and managed to
       * get this stuff to work more or less correctly using
       * CSSs float:left; and float:right;.  However float:right; seems
       * to cause MSIE4.01/NT to hang. 
       * So, we use tables...  */ ?>
<table summary="Toolbar 1: Page actions and user login."
       width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
  <div id="actionbuttons">
    <?= $EditB ?>
    <?php if ($user->isAdmin() or mayAccessPage('change',$page->getName())) { ?>
      <?=$Sep?><?= Button($page->get('locked') ? 'unlock' : 'lock') ?>
    <?php if (ENABLE_PAGEPERM) { ?>
      <?=$Sep?><?= Button('chown') ?>
      <?=$Sep?><?= Button('setacl') ?>
    <?php }} ?>
    <?php if ($user->isAdmin() or mayAccessPage('remove',$page->getName())) { ?>
      <?=$Sep?><?= Button('remove') ?>
    <?php } ?>
    <?=$Sep?><?= Button("PageHistory", _("PageHistory")) ?>
    <?=$Sep?><?= Button("diff") ?> 
    <?=$Sep?><?= Button("PageInfo", _("PageInfo")) ?>
<?php if ((DEBUG and $request->getArg('action') == 'browse') || $user->isAdmin()) { ?> 
    <!-- Buttons really only for debugging -->
    <?=$Sep?><?= Button("DebugInfo", _("DebugInfo")) ?>
    <?=$Sep?><?= Button("PageDump", _("PageDump")) ?>
<?php
    if (DEBUG & _DEBUG_SQL and USECACHE) {
      $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $page->getName());
      $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed."));
?>
      <?=$Sep?><?= $PurgeCache ?>
<?php } ?>
    <!-- End debugging buttons -->
<?php } ?>
  </div>
  </td>
  <td>
<!--{{{ Search-->
<div id="searchholder">
<form id="searchform" name="searchform" action="<?= WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="<?=CHARSET?>">
<input type="text" id="livesearch" name="s" size="12" maxlength="256"
   title="Search" value="Search" />
   <br/>
   <!-- Insert LiveSearch or similar code here -->
   <div id="LSResult">
   </div>
   <input type="hidden" name="auto_redirect" value="0" />
</form>
</div>
<!--}}}-->
  </td>
</tr>
</table>
