<?php // -*-html-*-
rcs_id('$Id: top.tmpl,v 1.1 2004/12/14 21:30:37 rurban Exp $');
?>
<div id="header">
<?php if ( $request->getArg('action') == 'browse' ) { ?>
<div id="yoursiteheader">
<!-- Insert Flash or Logo here -->
</div>
<?php } ?>
</div>
<?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
<div id="actionbar">
<?= Template('actionbar') ?>
</div>
<?php } ?>

