Redirect permanent /fortran/compilerstatus.html  http://gcc.gnu.org/fortran/
Redirect permanent /fortran/extensions.html      http://gcc.gnu.org/fortran/
Redirect permanent /fortran/librarystatus.html   http://gcc.gnu.org/fortran/
Redirect permanent /fortran/todo.html            http://gcc.gnu.org/fortran/
Redirect permanent /fortran/usage.html           http://gcc.gnu.org/fortran/

