Redirect permanent /fortran/compilerstatus.html  https://gcc.gnu.org/fortran/
Redirect permanent /fortran/extensions.html      https://gcc.gnu.org/fortran/
Redirect permanent /fortran/librarystatus.html   https://gcc.gnu.org/fortran/
Redirect permanent /fortran/todo.html            https://gcc.gnu.org/fortran/
Redirect permanent /fortran/usage.html           https://gcc.gnu.org/fortran/

