Redirect permanent /java/FAQ.html http://gcc.gnu.org/java/faq.html
Redirect permanent /java/gcj.html http://gcc.gnu.org/java/index.html
Redirect permanent /java/libgcj.html http://gcc.gnu.org/java/index.html
