Redirect permanent /c9xstatus.html http://gcc.gnu.org/c99status.html
Redirect permanent /timeline.html  http://gcc.gnu.org/releases.html#timeline
Redirect permanent /proj-bp.html   http://gcc.gnu.org/projects/bp/main.html
