AddDefaultCharset utf-8

Redirect permanent /egcs-1.0/egcs-1.0.html	https://gcc.gnu.org/egcs-1.0/
Redirect permanent /egcs-1.0/egcs-1.0.1.html	https://gcc.gnu.org/egcs-1.0/
Redirect permanent /egcs-1.0/egcs-1.0.2.html	https://gcc.gnu.org/egcs-1.0/
Redirect permanent /egcs-1.0/egcs-1.0.3.html	https://gcc.gnu.org/egcs-1.0/
Redirect permanent /egcs-1.1/egcs-1.1.html	https://gcc.gnu.org/egcs-1.1/
Redirect permanent /egcs-1.1/egcs-1.1.1.html	https://gcc.gnu.org/egcs-1.1/
Redirect permanent /egcs-1.1/egcs-1.1.2.html	https://gcc.gnu.org/egcs-1.1/
Redirect permanent /gcc-2.95/gcc-2.95.html	https://gcc.gnu.org/gcc-2.95/
Redirect permanent /gcc-2.95/gcc-2.95.1.html	https://gcc.gnu.org/gcc-2.95/
Redirect permanent /gcc-2.95/gcc-2.95.2.html	https://gcc.gnu.org/gcc-2.95/
Redirect permanent /gcc-2.95/gcc-2.95.3.html	https://gcc.gnu.org/gcc-2.95/
Redirect permanent /gcc-3.0/gcc-3.0.html	https://gcc.gnu.org/gcc-3.0/

Redirect permanent /gcc-3.1/testing-blitz.html	https://gcc.gnu.org/testing/testing-blitz.html
Redirect permanent /gcc-3.1/testing-boost.html	https://gcc.gnu.org/testing/testing-boost.html
Redirect permanent /gcc-3.1/testing-ftensor.html https://gcc.gnu.org/testing/testing-ftensor.html
Redirect permanent /gcc-3.1/testing-lapack.html	https://gcc.gnu.org/testing/testing-lapack.html
Redirect permanent /gcc-3.1/testing-pooma.html	https://gcc.gnu.org/testing/testing-pooma.html
Redirect permanent /gcc-3.1/testing-qt.html	https://gcc.gnu.org/testing/testing-qt.html

Redirect permanent /gcc-3.0/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-3.1/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-3.3/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-3.4/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.0/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.1/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.2/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.3/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.4/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.5/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.6/c99status.html	https://gcc.gnu.org/c99status.html
Redirect permanent /gcc-4.7/c99status.html	https://gcc.gnu.org/c99status.html

Redirect permanent /libstdc++/			https://gcc.gnu.org/
Redirect permanent /libstdc++/mail.html		https://gcc.gnu.org/lists.html
Redirect permanent /libstdc++/links.html	https://gcc.gnu.org/readings.html
Redirect permanent /onlinedocs/libstdc++/faq/index.html     https://gcc.gnu.org/onlinedocs/libstdc++/faq.html
Redirect permanent /onlinedocs/libstdc++/parallel_mode.html https://gcc.gnu.org/onlinedocs/libstdc++/manual/parallel_mode.html

Redirect permanent /fortran/compilerstatus.html	https://gcc.gnu.org/fortran/
Redirect permanent /fortran/extensions.html	https://gcc.gnu.org/fortran/
Redirect permanent /fortran/librarystatus.html	https://gcc.gnu.org/fortran/
Redirect permanent /fortran/todo.html		https://gcc.gnu.org/fortran/
Redirect permanent /fortran/usage.html		https://gcc.gnu.org/fortran/
Redirect permanent /onlinedocs/g77_news.html	https://gcc.gnu.org/onlinedocs/g77/News.html
Redirect permanent /onlinedocs/g77_bugs.html	https://gcc.gnu.org/onlinedocs/g77/Trouble.html
Redirect permanent /onlinedocs/g77/		https://gcc.gnu.org/onlinedocs/gcc-3.4.6/g77/

Redirect permanent /java/gcj.html		https://gcc.gnu.org/
Redirect permanent /java/gcj-announce.txt	https://gcc.gnu.org/news/gcj-announce.txt
Redirect permanent /java/libgcj.html		https://gcc.gnu.org/
Redirect permanent /java/about.html		https://gcc.gnu.org/about.html
Redirect permanent /java/FAQ.html		https://gcc.gnu.org/faq.html
Redirect permanent /java/status.html		https://gcc.gnu.org/
Redirect permanent /java/			https://gcc.gnu.org/

Redirect permanent /bugs.html			https://gcc.gnu.org/bugs/
Redirect permanent /c9xstatus.html		https://gcc.gnu.org/c99status.html
Redirect permanent /cvswrite.html		https://gcc.gnu.org/svnwrite.html
Redirect permanent /gnats.html			https://gcc.gnu.org/bugs/
Redirect permanent /proj-bp.html		https://gcc.gnu.org/projects/bp/main.html
Redirect permanent /proj-cpplib.html		https://gcc.gnu.org/projects/cpplib.html
Redirect permanent /proj-optimize.html		https://gcc.gnu.org/projects/optimize.html
Redirect permanent /projects.html		https://gcc.gnu.org/projects/
Redirect permanent /projects/web.html		https://gcc.gnu.org/about.html
Redirect permanent /reghunt-howto.html		https://gcc.gnu.org/bugs/reghunt.html
Redirect permanent /thanks.html			https://gcc.gnu.org/onlinedocs/gcc/Contributors.html
Redirect permanent /timeline.html		https://gcc.gnu.org/releases.html#timeline
Redirect permanent /web.html			https://gcc.gnu.org/about.html

Redirect           /onlinedocs/ref		https://gcc.gnu.org/onlinedocs/gcc-4.3.2/
