/* CSS for the GCC web site.

   Gerald Pfeifer <gerald@pfeifer.com>
 */

a:link    { color: #0066dd; text-decoration: none; }
a:visited { color: #0000bb; text-decoration: none; }
a:hover   { color: orange;  text-decoration: none; }

dl.news dt { font-weight:bold; }
dl.news dd { margin-left:3ex; }

dl.status dd { margin-left:3ex; }

/* Classpath versus libgcj merge status page. */

.classpath-only         { background-color: #FFFFAA; }
.libgcj-only            { background-color: #FFFFAA; }
.VM-specific            { background-color: #CCCCFF; }
.GCJ-specific           { background-color: #CCCCFF; }
.needsmerge             { background-color: #FF9090; }
.merged                 { background-color: #22FF22; }
.merged-expected-diff   { background-color: #22FF22; }
.merged-unexpected-diff { background-color: #FF4444; }
