/* CSS for the GCC web site.

   Gerald Pfeifer <gerald@pfeifer.com>
 */

body      { background-color: white; color: black; }

a:link    { color: #0066dd; text-decoration: none; }
a:visited { color: #0000bb; text-decoration: none; }
a:hover   { color: orange;  text-decoration: none; }

h1        { color: #FF8C00; text-align:center;" }

dl.news dt { font-weight:bold; }
dl.news dd { margin-left:3ex; }

dl.status dd { margin-left:3ex; }

.td_title {
  border-color: #3366cc;
  border-style: solid;
  border-width: thin;
  color: #f2f2f9;
  background-color: #0066dd;
  font-weight: bold;
}

.td_con {
  padding-top: 3px;
  padding-left: 8px;
  padding-bottom: 3px;
  background-color: #f2f2f9;
  font-size: smaller;
}

div.copyright {
  font-size: 75%;
  background: #f2f2f9;
  border: 2px solid #3366cc;
  border-style: solid;
  border-width: thin;
  padding: 4px;
}
                  
/* Classpath versus libgcj merge status page. */

.classpath-only         { background-color: #FFFFAA; }
.libgcj-only            { background-color: #FFFFAA; }
.VM-specific            { background-color: #CCCCFF; }
.GCJ-specific           { background-color: #CCCCFF; }
.needsmerge             { background-color: #FF9090; }
.merged                 { background-color: #22FF22; }
.merged-expected-diff   { background-color: #22FF22; }
.merged-unexpected-diff { background-color: #FF4444; }
