<?php // -*-php-*-
  rcs_id('$Id: actionbar.tmpl,v 1.3 2004/06/14 11:26:48 rurban Exp $');
  if (!$page->get('locked') || $user->isAdmin())
      $EditB = Button("edit",
                      $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"));
  else
      $EditB = Button("viewsource", _("View Source"));
  $Sep = $WikiTheme->getButtonSeparator();
//MSIE needs sticky.js
?>
<div <?= isBrowserIE() ? "class=ie-actionbuttons" : "id=actionbuttons"?>>
    <?= $EditB ?>
    <?php if ($user->isAdmin()) { ?>
<?=$Sep?><?= Button($page->get('locked') ? 'unlock' : 'lock') ?>
<?=$Sep?><?= Button('remove') ?>
<?php } ?>
<?=$Sep?><?= Button("PageHistory", _("PageHistory")) ?>
<?=$Sep?><?= Button("diff") ?> 
<?=$Sep?><?= Button("PageInfo", _("PageInfo")) ?>
<?php if ((DEBUG and $request->getArg('action') == 'browse') || $user->isAdmin()) { ?> 
    	<!-- Buttons really only for debugging -->
<?=$Sep?><?= Button("DebugInfo", _("DebugInfo")) ?>
<?php $purgeb = Button(array('nocache' => 'purge'),
                       _("PurgeHtmlCache"), $page->getName());
              $purgeb->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed."));
?>
<?=$Sep?><?= $purgeb ?>
    <!-- End debugging buttons -->
<?php } ?>
</div>

