<?php // -*-html-*- ?>
<!-- $Id: navbar.tmpl,v 1.3 2004/06/18 08:40:39 rurban Exp $ -->
<?php

$s = $WikiTheme->getButtonSeparator();

global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {

?>
<!-- The top navigation/search bar -->
<form action="<?= WikiURL(_("TitleSearch"))?>" target="_top"
      method="get" accept-charset="<?=CHARSET?>">
<input type="hidden" name="auto_redirect" value="1" />
<?php if (! USE_PATH_INFO) { ?>
  <input type="hidden" name="pagename" value="<?=_("TitleSearch")?>" />
<?php } ?>
<div id="navbuttons">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="middle"><td align="left">
<?= WikiLink(_("RecentChanges"), "button") ?>
<?php if (!empty($revision)) { ?>
<?=$s?><?= Button("RelatedChanges", _("RelatedChanges")) ?>
<?=$s?><?= Button("LikePages", _("LikePages")) ?>
<?=$s?><?= Button("BackLinks", _("BackLinks")) ?>
<?php } ?>
</td>
<td align="right">
   <div id="search">
    <?php if (!empty($user) && $user->isSignedIn()) { ?>
     <?= WikiLink(_("UserPreferences"),'button',_("Preferences")) ?>
<?php } ?>
<?php if (!empty($user)) { ?>
<?php
      /* Today's calendar page for the user, if the Calender subpage is defined. */
      $UserCalPageTitle = $user->getId() . SUBPAGE_SEPARATOR . _("Calendar");
      $dbi = $request->getDbh();
      if ($dbi->isWikiPage($UserCalPageTitle)) {
        $UserCalPageTodayTitle = $UserCalPageTitle . SUBPAGE_SEPARATOR . strftime("%Y-%m-%d", time());
        //$UserCalPageTodayUrl = WikiURL($UserCalPageTodayTitle);
?>
<?=$s?><?= WikiLink($UserCalPageTodayTitle, "button", _("Today")) ?>
<?php } ?>
<?php if (!empty($user) && $user->isAdmin()) { ?>
<?=$s?><?= WikiLink(_("PhpWikiAdministration"), "button", _("Admin")) ?>
<?php } ?>
<?php } ?>
<?=$s?><?= WikiLink(_("FindPage"), "button") ?><input type="text"  name="s" size="12" maxlength="256" title='<?=_("Quick Search")?>' onmouseover="window.status='<?=_("Quick Search")?>'; return true;" onmouseout="window.status=''; return true;" /></div></td></tr></table>
</div>
</form>
<?php } ?>
